#header {
    color: white;
    background-color: black;
    text-align: center;
}

.foot-head {
    color: white;
    background-color: black;
    text-align: center;
}
.head-2, .head-gmail {
    text-align: center;
}